Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

In [ ]:
def is_symmetrical(num):
    currentDigit = reversedDigit = 0
    remainingNum = num
    while(remainingNum != 0):

        currentDigit = remainingNum % 10

        reversedDigit = reversedDigit * 10 + currentDigit
        print('Reveresed Digit :',reversedDigit)
        remainingNum = remainingNum // 10

    if reversedDigit == num:
        print('Num {} is symmetrical'.format(num))
    else:
        print('Num {} is not symmetrical'.format(num))

In [ ]:
is_symmetrical(7227)

Reveresed Digit : 7
Reveresed Digit : 72
Reveresed Digit : 722
Reveresed Digit : 7227
Num 7227 is symmetrical

In [ ]:
is_symmetrical(12567)

Reveresed Digit : 7
Reveresed Digit : 76
Reveresed Digit : 765
Reveresed Digit : 7652
Reveresed Digit : 76521
Num 12567 is not symmetrical

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [ ]:
def multiply_nums(s):
    s = s.replace(' ', "")
    s = s.split(',')
    sum = 1
    for i in s:
        sum = sum * int(i)
    return sum

In [ ]:
multiply_nums('1, 2, 3, 4')

24

In [ ]:
multiply_nums('54, 75, 453, 0')

0

Question 3
Create a function that squares every digit of a number.

In [ ]:
def square_digits(num):
    z = ''.join(str(int(i)**2) for i in str(num))
    return int(z)

In [ ]:
square_digits(9119)

811181

Question 4
Create a function that sorts a list and removes all duplicate items from it.

In [1]:
def setify(lst):
    return list(set(lst))

In [2]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

Question 5
Create a function that returns the mean of all digits.

In [3]:
def mean(n): 
    N = len(str(n)) 
    sum = mean = 0
    
    for digit in str(n):
        sum += int(digit)       
    return int(sum/N)

In [5]:
mean(42)

3